<main class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <form [formGroup]="addTodoForm">
      <input
        formControlName="taskContent"
        (keyup)="todoInputKeyUp($event)"
        class="new-todo"
        placeholder="{{ 'todos_title' | transloco }}"
        autofocus
      />
    </form>
  </header>
  <section class="main">
    <app-complete-all></app-complete-all>
    <app-todos-list></app-todos-list>
  </section>
  <footer class="footer">
    <span class="todo-count"
      >{{ (todoItemsLeft$ | async) || 0 }} {{ 'items_left' | transloco }}</span
    >
    <ul class="filters">
      <li (click)="setFilterMode(availableFilterModes.All)">
        <a
          href="#"
          [ngClass]="{
            selected: (selectedFilterMode$ | async) === availableFilterModes.All
          }"
          >{{ 'all' | transloco }}</a
        >
      </li>
      <li (click)="setFilterMode(availableFilterModes.Active)">
        <a
          [ngClass]="{
            selected: (selectedFilterMode$ | async) === availableFilterModes.Active
          }"
          href="#"
          >{{ 'active' | transloco }}</a
        >
      </li>
      <li (click)="setFilterMode(availableFilterModes.Completed)">
        <a
          [ngClass]="{
            selected: (selectedFilterMode$ | async) === availableFilterModes.Completed
          }"
          href="#"
          >{{ 'completed' | transloco }}</a
        >
      </li>
    </ul>
    <button (click)="clearAllCompletedTasks()" class="clear-completed">
      {{ 'clear_completed' | transloco }}
    </button>
  </footer>
</main>

<button class="lang-button" (click)="changeLang()">
  {{ 'change_to' | transloco }} {{ actualLang === 'en' ? 'Spanish' : 'Inglés' }}
</button>
